<h1 mat-dialog-title>Add New Book</h1>
<div class="container">

    <mat-form-field>
        <input matInput [(ngModel)]='title1' name='title1' type="text" name=""
            id="" placeholder="title" [formControl]="titleFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="titleFormControl.hasError('title') && !titleFormControl.hasError('required')">
            Please enter a valid title
        </mat-error>
        <mat-error *ngIf="titleFormControl.hasError('required')">
            title is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>


    <mat-form-field>
        <input matInput [(ngModel)]='authors1' name="authors1" name="" id="" placeholder="authors"
            [formControl]="authorsFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="authorsFormControl.hasError('authors') && !authorsFormControl.hasError('required')">
            Please enter a valid authors
        </mat-error>
        <mat-error *ngIf="authorsFormControl.hasError('required')">
            authors is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>


    <mat-form-field>
        <input matInput [(ngModel)]='publishedDate1' name="publishedDate1" name=""
            id="" placeholder="date" [formControl]="dateFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="dateFormControl.hasError('date') && !dateFormControl.hasError('required')">
            Please enter a valid date
        </mat-error>
        <mat-error *ngIf="dateFormControl.hasError('required')">
            date is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>


    <mat-form-field>
        <input matInput [(ngModel)]='categories1' name="categories1" name="" id=""
            placeholder="category" [formControl]="categoriesFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="categoriesFormControl.hasError('categories') && !categoriesFormControl.hasError('required')">
            Please enter a valid categories
        </mat-error>
        <mat-error *ngIf="categoriesFormControl.hasError('required')">
            categories is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>


    <mat-form-field>
        <input matInput [(ngModel)]='thumbnail' name="thumbnail" name="" id=""
            placeholder="image-url" [formControl]="thumbnailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="thumbnailFormControl.hasError('thumbnail') && !thumbnailFormControl.hasError('required')">
            Please enter a valid image-url
        </mat-error>
        <mat-error *ngIf="thumbnailFormControl.hasError('required')">
            image-url is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>


    <mat-dialog-actions>
        <button mat-button mat-dialog-close class='cancel'>Cancel</button>
        <button mat-raised-button class='add' (click)="submit()">Add</button>
    </mat-dialog-actions>

</div>