<div class="container">
    <!-- <form action=""> -->
    <input [(ngModel)]='title1' name='title1' type="text" name="" id="" placeholder="title">
    <br>
    <input [(ngModel)]='authors1' name="authors1" name="" id="" placeholder="authors">
    <br>
    <input [(ngModel)]='publishedDate1' name="publishedDate1" name="" id=""
        placeholder="date">
    <br>
    <input [(ngModel)]='categories1' name="categories1" name="" id="" placeholder="category">
    <br>
    <input [(ngModel)]='thumbnail' name="thumbnail" name="" id="" placeholder="imgUrl">
    <br>
    <button type="button" (click)='submit()'>Go</button>
    <!-- </form> -->
</div>