<!-- <div *ngFor="let fullBook of listOfBooks">
    <div class="fullContainer">
        <div class="book-data">
            <div class="img">
                <img src="{{fullBook.imageLinks.thumbnail}}">
            </div>
            <b>{{fullBook.title}}</b>
            <br><b>Published Date:</b>{{fullBook.publishedDate}}
            <br>
            <b>Written by:</b> {{fullBook.authors}}
        </div>
    </div>
</div> -->

<div class="flex-container">
    <!-- check style  -->
    <div *ngFor="let fullBook of listOfBooks">

        <ul class="align">
            <li>
                <figure class='book'>

                    <!-- Front -->

                    <ul class='hardcover_front'>
                        <li>
                            <div class="coverDesign custom">
                                <img style width="159px" styly height="225px" src="{{fullBook.imageLinks.thumbnail}}">
                            </div>
                        </li>
                        <li></li>
                    </ul>

                    <!-- Pages -->

                    <ul class='page'>

                        <li>
                            <br>
                            Category:{{fullBook.categories}}
                            <br>
                            Date:{{fullBook.publishedDate}}
                        </li>
                    </ul>
                    <!-- Back -->

                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1>{{fullBook.title}}</h1>
                        <span >By Author {{fullBook.authors}}</span>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>